#D1signature {
    top: 155px;
    left: 290px;
    width: 157px;
    height: 39px;
    padding-top: 15px;
    position: absolute;
}

#chk1-2 {
    top: 313px;
    left: 362px;
    width: 14px;
    height: 14px;
    position: absolute;
}

#chk2-2 {
    top: 351px;
    left: 363px;
    height: 14px;
    position: absolute;
}

#chk3-2 {
    top: 407px;
    left: 363px;
    width: 14px;
    height: 14px;
    position: absolute;
}

#chk4-2 {
    top: 426px;
    left: 265px;
    width: 14px;
    height: 14px;
    position: absolute;
}

#D2TittleMR {
    top: 446px;
    left: 243px;
    width: 14px;
    height: 14px;
    position: absolute;
}

#D2TittleMRS {
    top: 446px;
    left: 337.5px;
    width: 14px;
    height: 14px;
    position: absolute;
}

#D2TittleMISS {
    top: 446px;
    left: 435px;
    width: 14px;
    height: 14px;
    position: absolute;
}

#D2TittleMS {
    top: 446px;
    left: 506px;
    width: 14px;
    height: 14px;
    position: absolute;
}

#D2TittleDR {
    top: 446px;
    left: 578px;
    width: 14px;
    height: 14px;
    position: absolute;
}

#D2FirstName {
    top: 461px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2MiddleName {
    top: 482px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2LastName {
    top: 499.5px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2FormerName {
    top: 517px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2genderMale {
    top: 538px;
    left: 241px;
    width: 14px;
    height: 14px;
    position: absolute;
}

#D2genderFemale {
    top: 538px;
    left: 338px;
    width: 14px;
    height: 14px;
    position: absolute;
}

#D2DOB {
    top: 554px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2POB {
    top: 573px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2Nationality {
    top: 591px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2Occupation {
    top: 611px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2PhoneNO1 {
    top: 631px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2PhoneNO2 {
    top: 651px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2Email {
    top: 685px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2TIN {
    top: 705px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2GhanaCard {
    top: 725px;
    left: 330px;
    width: 238px;
    border-top: 1px solid rgb(124,117,117);
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2DigitalAddress {
    top: 780px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2Landmark {
    top: 799px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2housenumber {
    top: 816px;
    left: 193px;
    width: 123px;
    position: absolute;
}

#D2town {
    top: 816px;
    left: 352px;
    width: 223px;
    position: absolute;
}

#D2StreetName {
    top: 838px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2City {
    top: 856px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2District {
    top: 876px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2Region {
    top: 894px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#D2Country {
    top: 913px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}
