#secCountry {
    top: 10px;
    left: 193px;
    width: 383px;
    border-top: 1px solid rgb(124,117,117);
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

#secSignature {
    top: 49px;
    left: 280px;
    width: 157px;
    height: 39px;
    padding-top: 15px;
    position: absolute;
}
