#AuditorTIN {
    top: 160px;
    left: 193px;
    width: 400px;
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

#AuditorName {
    top: 199px;
    left: 193px;
    width: 400px;
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

#GPSAddress {
    top: 310px;
    left: 193px;
    width: 400px;
    border-top: 1px solid rgb(124,117,117);
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

#AuditorAddress {
    top: 332px;
    left: 193px;
    width: 400px;
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

#HouseNumber {
    top: 424px;
    left: 193px;
    width: 400px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#StreetName {
    top: 480px;
    left: 193px;
    width: 400px;
    border-top: 1px solid rgb(124,117,117);
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

#City {
    top: 517px;
    left: 193px;
    width: 400px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#District {
    top: 536px;
    left: 193px;
    width: 400px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#Region {
    top: 555px;
    left: 193px;
    width: 400px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#MobileNumber {
    top: 575px;
    left: 193px;
    width: 400px;
    border-top: 1px solid rgb(124,117,117);
    position: absolute;
}

#OfficeNumber {
    top: 594px;
    left: 193px;
    width: 400px;
    border-top: 1px solid rgb(124,117,117);
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

#authorisedShares {
    top: 649px;
    left: 193px;
    width: 390px;
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

#StatedCapital {
    top: 669px;
    left: 230px;
    width: 220px;
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}
