/* Checkbox styles */
#registeredCon {
    top: 173px;
    left: 314.5px;
    width: 14px;
    height: 14px;
    border: 1px solid rgb(124,117,117);
    position: absolute;
}

#standardCon {
    top: 173px;
    left: 529.5px;
    width: 14px;
    height: 14px;
    border: 1px solid rgb(124,117,117);
    position: absolute;
}

/* Company Name */
#companyName {
    top: 245.5px;
    left: 169px;
    width: 380px;
    border-top: 1px solid rgb(124,117,117);
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

/* LTD checkbox */
#endWithLTD {
    top: 380px;
    left: 361.5px;
    width: 14px;
    height: 14px;
    border: 1px solid rgb(124,117,117);
    position: absolute;
}

/* LIMITED checkbox */
#endWithLIMITED {
    top: 380px;
    left: 194.5px;
    width: 14px;
    height: 14px;
    border: 1px solid rgb(124,117,117);
    position: absolute;
}

/* Presented by */
#presentedBy {
    top: 397.4px;
    left: 169px;
    width: 380px;
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

/* Presenter TIN */
#presenterTIN {
    top: 434px;
    left: 336px;
    width: 205px;
    border-top: 1px solid rgb(124,117,117);
    border-bottom: 1px solid rgb(124,117,117);
    position: absolute;
}

/* Principal Activities */
#principalActivities {
    top: 850px;
    left: 26px;
    width: 563px;
    position: absolute;
}
